html,
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  color: #373737;
  background-color: #fff;
}
a,
button,
input[type="submit"] {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.allwrap {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.shifted {
  overflow: hidden;
}
.page-title {
  text-align: center;
  margin: auto;
  padding: 40px 0;
}
.navbar {
  border-radius: 0;
  margin: 0;
  border: 0;
}
.main-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f0e9;
}
.main-nav .nav li a {
  text-transform: uppercase;
  background-color: #f2f0e9;
  color: #373737;
  font-weight: 600;
}
.main-nav .nav li a:hover,
.main-nav .nav li a:focus {
  color: #afa376;
}
.main-nav .nav.lang li {
  display: inline-block;
}
.main-nav .nav.lang li a {
  padding: 10px 15px;
}
.main-nav .nav.lang li .active {
  background-color: #afa376;
  color: white;
}
.navbar-nav > li {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-nav > li > a {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav > li > a:after {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 40px;
  width: 0%;
  height: 2px;
  background-color: #afa376;
}
.navbar-nav > li > a:hover:after,
.navbar-nav > li > a:focus:after,
.navbar-nav > li > a.active:after {
  width: 100%;
}
.navbar-header {
  display: inline-block;
  vertical-align: middle;
}
.navbar-brand {
  height: auto;
  color: #27282d;
  font-size: 36px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: black;
}
.phones {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 15px;
}
.phones p {
  margin: auto;
}
.navbar-toggle {
  margin: 0;
  margin-top: 8px;
}
.navbar-toggle .icon-bar {
  height: 3px;
  width: 25px;
  background-color: #373737;
}
.offmenu {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 9999;
  position: fixed;
  position: -ms-device-fixed;
  background: #fff;
  right: 0;
  top: 0;
  left: 90px;
  bottom: 0;
  padding: 30px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.offmenu .close {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  float: none;
  position: relative;
  height: 40px;
  background-color: white;
  display: block;
}
.offmenu .close .fa {
  font-size: 24px;
  color: #373737;
}
.offmenu .close .fa:hover,
.offmenu .close .fa:focus {
  color: #afa376;
}
.offmenu .close:hover,
.offmenu .close:focus {
  color: #afa376;
}
.offmenu ul {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}
.offmenu ul li a {
  position: relative;
  display: block;
  padding: 10px 0;
  font-size: 16px;
  text-transform: uppercase;
  color: #373737;
  font-weight: bold;
}
.offmenu ul li a:hover,
.offmenu ul li a:focus {
  color: #afa376;
  text-decoration: none;
}
.offmenu ul.mainnav li a:after {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 40px;
  width: 0%;
  height: 2px;
  background-color: #afa376;
}
.offmenu ul.mainnav li a:hover:after,
.offmenu ul.mainnav li a:focus:after,
.offmenu ul.mainnav li a.active:after {
  width: 100%;
}
.offmenu ul.lang li {
  display: inline-block;
}
.offmenu ul.lang li a {
  padding: 15px;
}
.offmenu ul.lang li a.active {
  background-color: #afa376;
  color: #fff;
}
.offmenu.open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.offmenu .navi {
  max-height: 100%;
  overflow: auto;
}
.btn {
  vertical-align: middle;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0;
  padding: 15px;
}
.btn:hover,
.btn:focus {
  box-shadow: 5px 5px 0 0 rgba(175, 163, 118, 0.5);
}
.btn-dark {
  background-color: #27282d;
}
.btn-dark:hover,
.btn-dark:focus {
  color: white;
  background-color: #3f4048;
}
.btn-brown {
  background-color: #afa376;
}
.btn-brown:hover,
.btn-brown:focus {
  color: white;
  background-color: #c2b996;
}
.nomargin {
  margin: 0;
}
.section {
  padding: 50px 0;
}
.section h2 {
  margin: auto;
  padding: 0 0 40px 0;
}
.intro_about {
  background: url('../img/Header.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
}
.intro_about h1 {
  color: #27282d;
  font-weight: bold;
  font-size: 70px;
}
.intro_about h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.intro_about h3 {
  color: #27282d;
}
.intro_about .btn {
  margin: 30px auto;
}
.another_section {
  background-color: #27282d;
  text-align: center;
  padding: 40px 0;
}
.another_section .item {
  min-height: 170px;
}
.another_section .item span {
  display: block;
  text-align: center;
  color: #afa376;
  font-weight: bold;
  font-size: 40px;
}
.another_section p {
  color: #fff;
  font-size: 20px;
}
.garantet {
  background-color: #f7f6f1;
  text-align: center;
  padding-bottom: 40px;
}
.garantet h2 {
  padding-top: 40px;
  color: #27282d;
  font-size: 25px;
  text-align: center;
}
.garantet .item {
  position: relative;
  display: block;
  background-size: cover;
  height: 150px;
  width: 100%;
  background: center no-repeat;
}
.garantet p {
  font-size: 20px;
}
.garantijas {
  background-color: #afa376;
  color: #fff;
  padding-bottom: 40px;
  padding-top: 40px;
}
.garantijas h2 {
  text-align: center;
}
.garantijas .sadala {
  height: 300px;
}
.garantijas .number {
  font-weight: 600;
  font-size: 150px;
  color: #d1c492;
  z-index: 1;
}
.garantijas .content {
  text-align: left;
  z-index: 100;
  position: relative;
  top: -100px;
}
.pardosana {
  background-color: #27282d;
  padding-bottom: 40px;
  padding-top: 40px;
}
.pardosana h2 {
  text-align: center;
  color: #afa376;
  margin-bottom: 30px;
}
.pardosana h3 {
  color: #fff;
  text-align: center;
}
.pardosana .numbers {
  margin-top: 40px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  height: 40px;
  width: 40px;
  background-color: #afa376;
  border-radius: 40px;
  padding: 9px 0 6px;
  margin-bottom: 12px;
}
.pardosana .sadala p {
  color: #fff;
}
.pardosana .block {
  border: 3px solid #afa376;
  padding: 37px 40px;
}
.pardosana .block p {
  font-size: 24px;
  color: #afa376;
  line-height: 30px;
}
.palidziba {
  background-color: #fff;
  padding-bottom: 40px;
  padding-top: 40px;
}
.palidziba h2 {
  line-height: 43px;
  margin-bottom: 50px;
  text-align: center;
}
.palidziba .img {
  width: 100%;
  height: 570px;
  border: 1px solid #e8e9e9;
  border-bottom: 4px solid #cfd0d1;
  float: left;
  margin-right: 15px;
  margin-bottom: 30px;
}
.palidziba .img .item {
  position: relative;
  display: block;
  background-size: cover;
  height: 300px;
  width: 100%;
  background: center no-repeat;
}
.palidziba .img .item img {
  position: absolute;
  top: 88px;
  left: 50%;
  margin-left: -80px;
  font-weight: 700;
  font-size: 41px;
  line-height: 41px;
  height: 161px;
  width: 161px;
  text-align: center;
  border-radius: 74px;
}
.palidziba .img .content {
  padding: 0 40px;
}
.palidziba .img .content h3 {
  line-height: 40px;
  font-size: 30px;
  margin-bottom: 4px;
}
.palidziba .img .content p {
  font-size: 24px;
  line-height: 30px;
}
.vertetajs {
  background: url('../img/background.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
}
.vertetajs .item {
  position: relative;
  display: block;
  background-size: cover;
  height: 500px;
  width: 100%;
  background: center no-repeat;
}
.vertetajs h2 {
  text-align: left;
  color: #afa376;
  line-height: 43px;
  margin-top: 30px;
  margin-bottom: 17px;
}
.vertetajs h3 {
  line-height: 30px;
  color: #27282d;
  margin-bottom: 20px;
}
.vertetajs .form-control {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
}
.vertetajs .btn {
  margin: 30px auto;
}
.klienti {
  background-color: #f7f6f1;
  padding-top: 40px;
  padding-bottom: 40px;
}
.klienti h2 {
  color: #27282d;
  font-size: 25px;
  text-align: center;
}
.klienti .item {
  position: relative;
  height: 150px;
  text-align: center;
}
.klienti .item img {
  max-width: 100%;
  max-height: 100px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mediji {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.mediji h2 {
  color: #27282d;
  font-size: 25px;
  text-align: center;
  padding-bottom: 30px;
}
.mediji p {
  color: #afa376;
  height: 100px;
}
.mediji a {
  color: #afa376;
  text-decoration: underline;
}
.piedavajumi {
  background-color: #f7f6f1;
  min-height: 400px;
}
.piedavajumi h2 {
  padding-top: 20px;
  color: #afa376;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.piedavajumi .btn {
  border-radius: 0;
  margin: 10px auto 10px 0;
  width: 100%;
  background-color: #afa376;
  margin-bottom: 30px;
}
.pakalpojumi {
  background-color: #fff;
}
.pakalpojumi h2 {
  padding-top: 20px;
  color: #27282d;
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
}
.pakalpojumi .item {
  position: relative;
  display: block;
  background-size: cover;
  height: 150px;
  width: 100%;
  background: center no-repeat;
}
.pakalpojumi p {
  color: #27282d;
  text-align: center;
  min-height: 100px;
}
.konsultacija {
  background-color: #27282d;
  padding-top: 30px;
  padding-bottom: 40px;
}
.konsultacija h2 {
  color: #afa376;
  padding-bottom: 15px;
}
.konsultacija h4 {
  color: #fff;
}
.konsultacija .form-control {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
}
.konsultacija .btn {
  margin: 30px auto;
}
footer {
  position: relative;
  background-color: #33343b;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}
footer .logo {
  color: #afa376;
  font-size: 36px;
  display: inline-block;
  margin-right: 15px;
}
footer .phones {
  margin-bottom: 30px;
}
footer ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}
footer ul li a:hover,
footer ul li a:focus {
  color: #afa376;
  text-decoration: none;
}
.filters {
  padding: 20px;
  background-color: #f2f0e9;
  margin-bottom: 30px;
}
.form-control {
  border-radius: 0;
  border-color: #373737;
  box-shadow: none;
  -webkit-box-shadow: none;
}
select.form-control {
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../img/select.jpg');
  background-position: 95% center;
  background-repeat: no-repeat;
}
.header {
  padding: 30px 0;
}
.header h1,
.header h2,
.header h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin: auto;
}
.header a {
  color: #373737;
}
.header a:hover,
.header a:focus {
  color: #afa376;
  text-decoration: none;
}
.header .fa {
  font-size: 45px;
  line-height: 1;
}
.sellitem {
  margin-bottom: 30px;
}
.sellitem .price {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  line-height: 3;
}
.sellitem .item-img {
  position: relative;
  display: block;
  background-size: cover;
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
}
.sellitem .item-img .over {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
.sellitem .item-img .over span {
  position: absolute;
  color: black;
  top: 50%;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.sellitem .item-img .over span .fa {
  font-size: 40px;
  color: white;
}
.sellitem .item-img:hover .over,
.sellitem .item-img:focus .over {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.sellitem h5 {
  color: #afa376;
  font-size: 16px;
  font-weight: bold;
}
.sellitem table {
  margin-top: 10px;
  line-height: 1.5;
}
.sellitem table th {
  color: #afa376;
  padding-right: 30px;
  font-weight: normal;
}
.sellitem table td {
  color: #e6e6e6;
  font-weight: normal;
}
.sellitem .details {
  padding: 15px;
  background-color: #27282d;
  cursor: pointer;
}
.sellitem .carousel {
  height: 230px;
  overflow: hidden;
}
.sellitem .carousel .item {
  height: 230px;
}
.sellitem .carousel .item img {
  min-width: 100%;
  min-height: 100%;
}
.carousel .carousel-control {
  background-image: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  text-shadow: none;
}
.carousel .carousel-control .fa {
  font-size: 30px;
}
.carousel .carousel-control:hover,
.carousel .carousel-control:focus {
  background-color: rgba(255, 255, 255, 0.3);
}
.pagination {
  border: none;
}
.pagination li a {
  border: none;
  font-weight: bold;
  color: #27282d;
}
.pagination li a:hover,
.pagination li a:focus {
  background-color: #afa376;
  color: #fff;
}
.pagination li .active {
  color: #fff;
  background-color: #afa376;
}
.pagination li .fa {
  border: none;
  font-weight: bold;
  color: #27282d;
}
.pagination li .fa:hover,
.pagination li .fa:focus {
  background-color: #afa376;
  color: white;
}
.attels .item {
  position: relative;
  display: block;
  background-size: cover;
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
}
.tabula table {
  margin-top: 10px;
  line-height: 1.5;
}
.tabula table th {
  color: #27282d;
  padding-right: 40px;
  font-weight: bold;
}
.tabula table td {
  font-weight: normal;
}
.tabula table .cena {
  color: #afa376;
  font-weight: bold;
}
.contacts {
  background-color: #f7f6f1;
}
.contacts .item {
  position: relative;
  display: block;
  background-size: cover;
  height: 50px;
  width: 50px;
  background: center no-repeat;
}
.contacts .form-control {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
}
.contacts textarea {
  height: 130px;
}
.contacts form {
  margin-bottom: 30px;
}
.inl-b > .i-b {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  font-size: 20px;
}
.inl-b > .i-b + .i-b {
  margin-left: 10px;
}
#googleMap {
  margin-bottom: 30px;
}
.open-item {
  padding-bottom: 30px;
}
.open-item h1 {
  font-weight: bold;
  margin: auto;
  padding-bottom: 40px;
}
.open-item .carousel .item {
  background-color: #f2f2f2;
  height: 300px;
  text-align: center;
}
.open-item .carousel .item img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
}
.open-item .carousel .carousel-control {
  color: #373737;
}
.carousel-indicators.hide-bullets {
  position: relative;
  width: 100%;
  left: auto;
  margin: auto;
  text-align: left;
  bottom: auto;
}
.carousel-indicators.hide-bullets li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 3px;
  width: 96px;
  height: auto;
  border: 0;
  border-radius: 0;
}
.carousel-indicators.hide-bullets li .thumbnail {
  padding: 0;
  border-radius: 0;
  height: 60px;
  display: block;
  overflow: hidden;
  margin: 0;
  border: 0;
}
.carousel-indicators.hide-bullets li .thumbnail img {
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
}
.modal {
  margin: 30px auto auto auto;
}
.modal .modal-content {
  width: 100%;
  max-width: 560px;
  max-height: 90%;
  overflow: auto;
  margin: auto;
  padding: 20px;
  border-radius: 0;
}
.modal .close {
  color: #afa376;
  float: right;
  font-size: 28px;
}
.modal #ipasums {
  text-align: center;
  color: #27282d;
  font-weight: bold;
}
.modal h4 {
  padding-top: 20px;
  text-transform: uppercase;
  color: #afa376;
}
.modal hr {
  border: 1px solid #afa376;
}
.modal a {
  text-decoration: none;
  color: #27282d;
  font-weight: bold;
}
.modal a .fa {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 15px;
}
.modal a span {
  padding-top: 20px;
  padding-bottom: 20px;
}
.modal .btn {
  border-radius: 0;
  margin: 10px auto 10px 0;
  width: 100%;
  background-color: #afa376;
  margin-bottom: 30px;
  margin-top: 20px;
}
.modal-backdrop {
  background-color: #afa376;
}
.backtoTop {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #afa376;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
}
.backtoTop:hover,
.backtoTop:focus {
  background-color: rgba(255, 255, 255, 0.9);
  color: #afa376;
}
@media (min-width: 768px) {
  .open-item {
    padding-top: 87px;
  }
  footer ul {
    display: inline-block;
  }
  footer .col-md-4 {
    text-align: right;
  }
  .another_section .item + .item {
    border-left: 1px solid #45464b;
  }
  .pardosana .sadala {
    height: 170px;
  }
  .contacts {
    padding-bottom: 60px;
  }
  .right-side {
    padding-top: 87px;
  }
}
@media (max-width: 767px) {
  footer .phones {
    margin-top: 20px;
  }
  footer .footernav li {
    display: block;
  }
  .btn {
    white-space: normal;
  }
}
@media (max-width: 450px) {
  .navbar-brand {
    font-size: 24px;
  }
}
